<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Weather App - Help</title>
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Everybody needs help sometimes when learning to code. What are you learning today? I'm learning: {{language}}
        </p>

    </div>

    {{>footer}}
</body>

</html>