{{!-- <footer>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, perferendis atque. Ut optio nulla eius fuga
    excepturi neque odit ratione, totam eligendi quaerat sed facilis? Molestias corporis neque distinctio vitae? Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Ipsa, ab assumenda quod, nostrum laudantium tenetur sint, facere
    earum blanditiis veritatis esse temporibus doloribus quae amet ex repellendus! Reprehenderit, labore suscipit.
</footer> --}}

<footer>
    <h4>Created by {{name}}</h4>
</footer>